html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 3.5rem;
    background-color: white;
}

header .navbar {
    display: flex;
    align-items: center;
    padding: 0.89rem 1.3rem;
    /* 64px high - 32px content = 32px/2 = 16px padding each = 16px/18px = .89 */
    /* 24px left and right padding = 24px/18px = 1.3 */
}

header .logo {
    /* add this to center the logo in relation to the name */
    display: flex;
    align-items: center;
}

/* sets the ul elements in nav to horizontal vs vertical layout */
header nav ul {
    display: flex;
}

header nav a {
    /* Adds left spacing between the li's */
    padding-left: 0.88rem;
    opacity: 0.55;
}

header .navbar .desktop {
    width: 100%;
    display: flex;
    
    /* Use justify-content to move the horizontal alignment of the items */
    justify-content: flex-end;
}

.colmaracademy {
    display: flex;
    /* Font of the M does not touch the baseline - need to find font that does this */
    font-family: 'Gill Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.colmar {
    font-weight: 600;
    opacity: 0.7;
}

.academy {
    display: flex;
    opacity: 0.3;
}

header .navbar .mobile {
    /* Set mobile to no display by default */
    display: none;
}

/* Mobile version ruleset */
@media only screen and (max-width: 600px) {
    header .colmaracademy {
        display: none;
    }

    header .navbar .desktop {
        display: none;
    }

    header .navbar .mobile {
        display: block;
        width: 100%;
    }

    header nav a {
        opacity: 1;
    }

    header nav ul {
        align-items: center;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        margin-left: 1.3rem; 
    }

    main .learn-new {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color:lightgray;
        width: 100%;
    }

    .students-img img {
        display: block;
        max-width: 100%;
    }

    .text-container {
        margin: 1.7rem 0.89rem;
    }

    .students-cta {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        
    }

    .students-cta h1 {
        font-size: 1.65rem;
        font-weight: 900;
        color: black;
        opacity: 0.7;
        line-height: 1.4;
        width: 100%;
    }

    .students-cta h4 {
        font-size: 1.15rem;
        font-weight: 500;
        color: black;
        opacity: 0.7;
        line-height: 1.35;
        margin-top: 1.7rem;
        margin-bottom: 1.3rem;
        width: 100%;
    }

}


/* Desktop version ruleset */
@media only screen and (min-width: 601px) {    

    main .learn-new {
        margin-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color:lightgray;
        width: 100%;
    }

    main .learn-new .image-container {
        width: 60%;
    }

    main .learn-new .text-container {
        margin-left: 1.3rem;
    }

    main .learn-new .students-img {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
        padding: 1.7rem 1.3rem;
    }

    main .learn-new .students-cta {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        flex-direction: column;
        justify-items: center;
        align-items: flex-start;
        width: 65%;
        margin: auto 5rem auto 1.3rem;
    }

    main .learn-new .students-cta h1 {
        font-size: 2rem;
        font-weight: 900;
        color: black;
        opacity: 0.7;
        line-height: 1.15;
        width: 100%;
    }

    main .learn-new .students-cta h4 {
        font-size: 1.15rem;
        font-weight: 500;
        color: black;
        opacity: 0.7;
        line-height: 1.35;
        margin-top: 1.5rem;
        width: 100%;
    }

    main .learn-new .students-cta .start-button {
        display: block;
        width: 100%;
        margin-top: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-align: center;
        font-size: 0.85rem;
        color:white;
        background-color:black;
        opacity: 0.7;
        border: none;
    }

}


main .main-container {
    display: flex;
    flex-direction: row;    
}
