html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 3.5rem;
    background-color: white;
}

header .navbar {
    display: flex;
    align-items: center;
    padding: 0.89rem 1.3rem;
    /* 64px high - 32px content = 32px/2 = 16px padding each = 16px/18px = .89 */
    /* 24px left and right padding = 24px/18px = 1.3 */
}

header .logo {
    /* add this to center the logo in relation to the name */
    display: flex;
    align-items: center;
}

/* sets the ul elements in nav to horizontal vs vertical layout */
header nav ul {
    display: flex;
}

header nav a {
    /* Adds left spacing between the li's */
    padding-left: 0.88rem;
    opacity: 0.55;
}

header .navbar .desktop {
    width: 100%;
    display: flex;
    
    /* Use justify-content to move the horizontal alignment of the items */
    justify-content: flex-end;
}

.colmaracademy {
    display: flex;
    /* Font of the M does not touch the baseline - need to find font that does this */
    font-family: 'Gill Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.colmar {
    font-weight: 600;
    opacity: 0.7;
}

.academy {
    display: flex;
    opacity: 0.3;
}

header .navbar .mobile {
    /* Set mobile to no display by default */
    display: none;
}

main .main-container {
    display: flex;
    flex-direction: column;    
}

/* Mobile version ruleset */
@media only screen and (max-width: 600px) {
    header .colmaracademy {
        display: none;
    }

    header .navbar .desktop {
        display: none;
    }

    header .navbar .mobile {
        display: block;
        width: 100%;
    }

    header nav a {
        opacity: 1;
    }

    header nav ul {
        align-items: center;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        margin-left: 1.3rem; 
    }

    main .learn-new {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color:lightgray;
        width: 100%;
    }

    .students-img img {
        display: block;
        max-width: 100%;
    }

    .text-container {
        margin: 1.7rem 0.89rem;
    }

    .students-cta {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        
    }

    .students-cta h1 {
        font-size: 2rem;
        font-weight: 900;
        color: black;
        opacity: 0.7;
        line-height: 1.4;
        width: 100%;
    }

    .students-cta h4 {
        font-size: 1.4rem;
        font-weight: 500;
        color: black;
        opacity: 0.7;
        line-height: 1.35;
        margin-top: 1.7rem;
        margin-bottom: 1.3rem;
        width: 100%;
    }

    .students-cta .start-button {
        display: block;
        width: 100%;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        text-align: center;
        font-size: 1rem;
        font-weight: 900;
        color:white;
        background-color:black;
        opacity: 0.3;
        border: none;
    }

    .orientation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    .left-orientation {
        display: none;
    }

    .right-orientation { 
        margin-left: 0.9rem;
        margin-right: 0.9rem;
        padding-top: 0.9rem;
        padding-bottom: 1.7rem;
        
    }

    .right-orientation-box,
    .right-orientation-box-lecture {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .right-orientation hr {
        display: none;
    }

    .right-orientation-image {
        margin-bottom: 1.7rem;
    }

    .right-orientation-image .desktop {
        display: none;
    }

    .right-orientation-image .mobile {
        display: flex;
        flex: 1;
        width: 100%;
    }

    .right-orientation-text {
        display: flex;
        flex-direction: column;
        width: 65%;
        justify-content: center;
        padding-left: 1rem;
    }
    
    .right-orientation-text h4 {
        font-size: 1.4rem;
        font-weight: 500;
        color: black;
        opacity: 0.75;
    }
    
    .right-orientation-text h5 {
        font-size: 1rem;
        color: black;
        opacity: 0.5;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        line-height: 1.5;
    }
    
    .right-orientation-text a {
        font-size: 1rem;
        color:cornflowerblue;
        opacity: 0.9;
    }

    .start-learning {
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    /* Hide all the start learning images */
    .start-learning .learn-image {
        display: none;
    }

    .start-learning .learn-boxes {
        margin-bottom: 1.77rem;
    }

    .start-learning .learn-text {
        flex: 1;
        background-color: lightgray;
        padding: 0.88rem 0.88rem 1.3rem 0.88rem;
        margin: 0 0.44rem 0.44rem 0.44rem;
    }

    .start-learning .learn-text h3 {
        font-size: 1.4rem;
        font-weight: 500;
        color: black;
        opacity: 0.75;
        padding: 0.88rem 0.88rem;
    }

    .start-learning .learn-text h4,
    .start-learning .learn-text p {
        display: none;
    }

}


/* Desktop version ruleset */
@media only screen and (min-width: 601px) {    

    .learn-new {
        margin-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color:lightgray;
        padding: 1.7rem 1.3rem;
    }

    .learn-new .image-container {
        width: 60%;
    }

    .learn-new .text-container {
        margin-left: 1.3rem;
    }

    .students-img {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
    }

    .students-cta {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        flex-direction: column;
        justify-items: center;
        align-items: flex-start;
        width: 65%;
        margin: auto 5rem auto 1.3rem;
    }

    .students-cta h1 {
        font-size: 2rem;
        font-weight: 900;
        color: black;
        opacity: 0.7;
        line-height: 1.15;
        width: 100%;
    }

    .students-cta h4 {
        font-size: 1.15rem;
        font-weight: 500;
        color: black;
        opacity: 0.7;
        line-height: 1.35;
        margin-top: 1.5rem;
        width: 100%;
    }

    .students-cta .start-button {
        display: block;
        width: 100%;
        margin-top: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-align: center;
        font-size: 0.85rem;
        color:white;
        background-color:black;
        opacity: 0.7;
        border: none;
    }

    .orientation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* Was missing width 100% why the image wouldn't align */
        /* Now removed to make the orientation area align with the above learning area */

        /* width: 100%; */
        
    }

    .left-orientation {
        width: 60%;
        border-right: solid lightgray;
        padding: 1.7rem 1.3rem;
    }

    .left-orientation .image-container {
        width: 100%;
    }

    .reading-img {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
        
    }

    .left-orientation .text-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
    }

    .left-orientation h3 {
        font-size: 1.8rem;
        color: black;
        font-weight: 900;
        opacity: 0.8;
        width: 100%;
        margin-top: 1.7rem;
        margin-bottom: 1.3rem;
    }

    .left-orientation p {
        font-size: 1rem;
        color: black;
        opacity: 0.5;
        width: 100%;
    }

    .left-orientation h2 {
        font-size: 0.8rem;
        color: black;
        opacity: 0.8;
        width: 100%;
        margin-bottom: 1.7rem;
    }

    .right-orientation { 
        width: 40%;
        padding-top: 0.9rem;
        padding-bottom: 1.7rem;
    }

    .right-orientation-box {
        display: flex;
        flex-direction: row;
        padding: 0.88rem 0.88rem;
    }

    .right-orientation-box-lecture {
        background-color: lightgray;  
        display: flex;
        flex-direction: row;
        padding: 0.88rem 0.88rem;
    }

    .right-orientation-image {
        height: auto;
        width: 35%;
    }

    .right-orientation-image .mobile{
        display: none;
    }

    .right-orientation-box img,
    .right-orientation-box-lecture img {
        width: 100%;
    }

    .right-orientation-text {
        display: flex;
        flex-direction: column;
        width: 65%;
        justify-content: center;
        padding-left: 1rem;
    }
    
    .right-orientation-text h4 {
        font-size: 1.2rem;
        font-weight: 500;
        color: black;
        opacity: 0.75;
    }
    
    .right-orientation-text h5 {
        font-size: 0.9rem;
        color: black;
        opacity: 0.5;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
    }
    
    .right-orientation-text a {
        font-size: 0.9rem;
        color:cornflowerblue;
        opacity: 0.9;
    }
    
    .start-learning {
        background-color: rgb(240, 236, 236);
    }

    .start-learning .learn-boxes {
        margin: 0rem 4rem;
    }

    .start-learning .box-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.7rem;
    }

    .start-learning .learn-box {
        display: flex;
        flex-direction: column;
        /* set this margin on the box to put space between the boxes */
        margin: 0rem 0.88rem;
        /* need width to 100% to make the boxes all equal size otherwise are non-proportional */
        width: 100%;
    }

    .start-learning img {
        width: 100%;
    }

    .start-learning .learn-text {
        flex: 1;
        background-color: white;
        padding: 0.88rem 0.88rem 1.3rem 0.88rem;
    }
    
    .start-learning .learn-text h4,
    .start-learning .learn-text p,
    .thesis-exhibit .text-box p {
        font-size: 0.8rem;
        color: black;
        opacity: 0.4;
        padding-top: 0.6rem;
        padding-bottom: 0rem;
        line-height: 1.5;
    }

    .start-learning .learn-text h3,
    .thesis-exhibit .text-box h3 {
        font-size: 1.1rem;
        font-weight: 500;
        color: black;
        opacity: 0.75;
    }

    .left-exhibit {
        margin: 1.7rem 1.3rem 1.3rem 1.3rem;
    }

    .thesis-exhibit .left-exhibit {
        display: flex;
        flex: 1;
        width: 60%;
    }

    .thesis-exhibit .left-exhibit-panel {
        display: flex;
        flex-direction: column;
    }

    .thesis-exhibit .text-box {
        margin-top: 1.3rem;
        margin-bottom: 1.7rem;
    }
   
}

.start-learning .start,
.thesis-exhibit .exhibit{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.8rem;
    color: black;
    opacity: 0.8;
    font-weight: 900;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}

